@import "~bootstrap/dist/css/bootstrap.min.css";

.cuadrado {
  width: 240px;
  height: 100px;
  background: #428bca;
  position: absolute;
  top: 100px;
  left: 20px;
  right: 0;
  bottom: 0;
}

.circulo1 {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  position: absolute;
  top: 190px;
  left: 40px;
  right: 0;
  bottom: 0;
}

.circulo2 {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  position: absolute;
  top: 190px;
  left: 190px;
  right: 0;
  bottom: 0;
}

.trapecio {
  width: 200px;
  height: 0px;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 100px solid #428bca;
  position: absolute;
  top: 10px;
  left: 40px;
  right: 0;
  bottom: 0;
}
