@import "~bootstrap/dist/css/bootstrap.min.css";

.cuadrado {
  width: 240px;
  height: 100px;
  background: #428bca;
  position: absolute;
  top: 100px;
  left: 20px;
  right: 0;
  bottom: 0;
}

.circulo1 {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  position: absolute;
  top: 190px;
  left: 40px;
  right: 0;
  bottom: 0;
}

.circulo2 {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  position: absolute;
  top: 190px;
  left: 190px;
  right: 0;
  bottom: 0;
}

.trapecio {
  width: 200px;
  height: 0px;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 100px solid #428bca;
  position: absolute;
  top: 10px;
  left: 40px;
  right: 0;
  bottom: 0;
}
.trapecio2 {
  width: 50px;
  height: 0px;
  border-right: 60px solid purple;
  border-left: 60px solid black;
  border-bottom: 100px solid red;

  position: absolute;
  top: 10px;
  left: 40px;
  right: 0;
  bottom: 0;
}
.paralelogramo {
  width: 80px;
  height: 90px;
  border: 3px solid #555;
  background: #6dca42;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(30deg);
  position: absolute;
  top: 10px;
  left: 127px;
  right: 0;
  bottom: 0;
}
.luz {
  position: absolute;
  top: 10px;
  left: 260px;
  right: 0;
  bottom: 0;
}

.triangulo {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid yellow;
  position: absolute;
  border-radius: 50px;
  top: 5px;
  left: 240px;
  right: 0;
  bottom: 0;
}

.car {
  position: absolute;
  top: 40%;
  left: 40%;
  right: 0;
  bottom: 0;
}

.direccionalTrasera {
  width: 15px;
  height: 15px;
  border: 2px solid red;

  -moz-border-radius: 0 0 100% 0;
  -webkit-border-radius: 0 0 100% 0;
  border-radius: 0 0 100% 0;
  position: absolute;
  top: 90px;
  left: -80px;
  right: 0;
  bottom: 0;
  z-index: 2;
}
